

body {
	background: #007C89;
	color: #C5DBF2;
	font-family: 'Poppins', sans-serif;
	line-height: 1.2;
}

img {
	width: 100%;
	max-width: 190px;
	height: auto;
}

.container {
	width: 80vw;
	max-width: 1120px;
	margin: 0 auto;
}

.heading {
	text-align: center;
}

.heading a {
	margin: 2.5em;
}

h1{
	color:  #FBCFBD;
}

h2 {
	margin-bottom: 2.5em;
}

#movielist {
	margin-top: 15vh;
	text-align: center;
}

#movie {

}

.movieBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 200px;
	margin: 0 auto 2vh;
	border: 2px solid #FBCFBD;
	padding: 0.8em;

}

.movieBox h4 {
	font-size: 1rem;
	padding: 1em 0;

}
